header{
	background-color:rgb(30,144,255);
	width: auto;
	height: 100px;
	color: rgb(75,0,130);
	text-align: center;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 25px;
	position: relative;
}
ul{
	background-color: rgb(0,0,255);
	list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    height: 50px;
    font-size: 20px;
    position: sticky;
    top: 0;
}
li{float: left;
}

li a{
	color: white;
	padding: 36px;
	text-align: center;
	text-decoration: none;
}
li a:hover{
	text-decoration: underline;
}